.main-scope__list {
  @include list;

}

.main-scope {
  position: relative;
  padding-top: 20px;
}

.main-scope__item {
  display: flex;
  align-items: center;
  font-size: 24px;

  &.important {
    background-color: rgba(254, 187, 198, 0.841);
    // класс ниже нужен для кнопки -> "!" меняет fill у свг 
    svg {
      fill: rgba(255, 17, 0, 0.883);
    }
  }
}

.main-scope__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

  .main-scope__desc.done{
    text-decoration: line-through;
  }

.main-scope__btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  &:disabled {
    opacity: 0.3;
  }
}

.main-scope__desc {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.main-scope__del-btn {
  position: absolute;
  top: 0;
  left: 0;
  &.hidden {
    display: none;
  }
  &:disabled {
    opacity: 0.3;
  }
}