.main-scope__list {
    @include list;
    
}

.main-scope__item {
    display: flex;
    align-items: center;
    font-size: 24px;

    &:has(.important) {
      background-color: rgba(254, 187, 198, 0.841)
    }
}

.main-scope__checkbox {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.main-scope__btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
// класс ниже нужен для кнопки -> "!" меняет fill у свг 
  &.important svg { 
    fill: rgba(255, 17, 0, 0.883);
  }
}

.main-scope__desc {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

